Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [13]:
myString = 'soham'
myList = [1,2,3,4, 'python',3.5]
myFloat = 12.34
myTuple = ("data", 3, 4, 4.5)

print('String: ' + myString)
print()

print('List: ')
for item in myList:
    print(char)
print()

print('Float: {}' .format(myFloat))
print()

print('tuple: ')
for item in myTuple:
    print(item)

String: soham

List:
3.5
3.5
3.5
3.5
3.5
3.5

Float: 12.34

tuple:
data
3
4
4.5

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Answers:
(i) The first variable var1 is a string.
(ii) The second variable var2 is also a string.
(iii) The third variable var3 is of type list.
(i) The forth variable var4 is a float.

In [17]:
var1 = ' '
print(type(var1))
var2 = '[ DS , ML , Python]'
print(type(var2))
var3 = ['DS', 'ML', 'Python']
print(type(var3))
var4 = 1.
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Answer:
(i) /
This oprator is for division. It will give quotient after the division of two numbers.

(ii) % 
This oprator is for modulous. It will return remainder after the division of two numbers.

(iii) // 
This oprator also returns quotient but rouds it to nearest whole number.

(iv) **
This operator is used to raise the number on its left to the power of the number on its right.

Below are example of each of the oprator above:

In [19]:
var1 = 60
var2 = 10
myResult1 = var1 / var2
print(myResult1)
myResult2 = var1 % var2
print(myResult2)
myResult3 = var1 // var2
print(myResult3)
myResult4 = var1 ** var2
print(myResult4)

6.0
0
6
604661760000000000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [20]:
myList = [1,2,3,4, 4.5, 5, 'pw', [6,7,8,9], 10]
for item in myList:
    print(item)
    print(type(item))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
4.5
<class 'float'>
5
<class 'int'>
pw
<class 'str'>
[6, 7, 8, 9]
<class 'list'>
10
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
numberA = int(input('Please enter first number'))
numberB = int(input('Please enter second number'))

count = 0

while numberA >= numberB:
    numberA -= numberB
    count += 1

if numberA == 0:
    print(count)

Please enter first number 20
Please enter second number 10

2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [6]:
myList = list(range(1,26))
for item in myList:
    if item % 3 == 0:
        print(f"The number {item} is divisible by 3.")

The number 3 is divisible by 3.
The number 6 is divisible by 3.
The number 9 is divisible by 3.
The number 12 is divisible by 3.
The number 15 is divisible by 3.
The number 18 is divisible by 3.
The number 21 is divisible by 3.
The number 24 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types:
In python mutable data types means data types that can be changed after their creation or after initilization.
Following is the list of Mutable data types:
    List
    Set
    Dictionaries

Immutable data types: 
This are the data types whose values can not be changed after their creation or initilization.
Following is the list of Immutable data types:
    Number (int, bool, float)
    String
    Tuple

Here is an example of Mutable data type:

In [8]:
myList = [4,8,12]
myList[2] = 6
myList.append(16)
print(myList)

[4, 8, 6, 16]

Here is an example of Immutable data type:

In [9]:
num1 = 100
print(id(num1))

num1 = 500
print(id(num1))

139785508162896
139785161019376

In the above example we can see the memory address of num1 when it was created, and its memory address afte if was changed. This tell us that in python reassignment doesn’t change the value of the first integer object. It just reassigns the reference.